<div ng-include="'views/partials/header.html'"></div>
<main>
    <br>
    <div class="panel panel-primary">
        <div class="panel-body">
            <table style="width:100%">
                <tbody>
                    <tr>
                        <th>
                            <div class="profile-panel profile-panel-orange">
                                <div class="profile-header">
                                    <h1>TAmy Vivas</h1>
                                    <h2>Software Engineer</h2>
                                    <div class="profile-image">
                                        <img src="https://yt3.ggpht.com/-SnGuBQR3Dt0/AAAAAAAAAAI/AAAAAAAAAAA/0Rk1XvDEjUM/s88-c-k-no/photo.jpg" />
                                        <div class="profile-status profile-status-away"></div>
                                    </div>
                                </div>
                                <div class="profile-social-links">
                                    <a class="social-btn facebook" href="#"><i class="fa fa-facebook"></i></a>
                                </div>
                                <div class="profile-footer">
                                    <a class="btn" href="#">LinkedIn</a>
                                </div>
                            </div>
                        </th>
                        <th>

                            <div class="profile-panel profile-panel-orange">
                                <div class="profile-header">
                                    <h1>Keneth Ubeda</h1>
                                    <h2>Software Engineer</h2>
                                    <div class="profile-image">
                                        <img src="http://palabraenaccion.org/inicio/file/2014/03/gt.png"/>
                                        <div class="profile-status profile-status-away"></div>
                                    </div>
                                </div>
                                <div class="profile-social-links">
                                    <a class="social-btn facebook" href="#"><i class="fa fa-facebook"></i></a>
                                </div>
                                <div class="profile-footer">
                                    <a class="btn" href="#">LinkedIn</a>
                                </div>
                            </div>

                        </th>
                        <th>

                            <div class="profile-panel profile-panel-orange">
                                <div class="profile-header">
                                    <h1>Herman Veliz</h1>
                                    <h2>Software Engineer, Asesor</h2>
                                    <div class="profile-image">
                                        <img src="http://palabraenaccion.org/inicio/file/2014/03/gt.png"/>
                                        <div class="profile-status profile-status-away"></div>
                                    </div>
                                </div>
                                <div class="profile-social-links">
                                    <a class="social-btn facebook" href="#"><i class="fa fa-facebook"></i></a>
                                </div>
                                <div class="profile-footer">
                                    <a class="btn" href="#">LinkedIn</a>
                                </div>
                            </div>

                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="profile-text">
                <h1 class="profile-name">Ingenieria USAC 2016</h1>
                <span class="profile-title">ChapList API Consumer</span>
            </div>
        </div>
    </div>
</main>