<div ng-include="'views/partials/headerHome.html'"></div>
<main>
    <br>
    <div class="panel panel-default">
        <div class="panel-body">
           <br>
            <table class="display" datatable="ng" dt-options="sale.dtOptions" dt-column-defs="sale.dtColumnDefs" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>AppName</th>
                        <th>PackageName</th>
                        <th>HashKey</th>
                        <th>SecretKey</th>
                        <th>AppId</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="app in ap.apps">
                        <td>{{ app.name }}</td>
                        <td>{{ app.package }}</td>
                        <td>{{ app.hash }}</td>
                        <td>{{ app.appid }}</td>
                        <td>{{ app.secret}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="profile-text">
                <h1 class="profile-name">Apps Disponibles</h1>
                <span class="profile-title">ChapList API Consumer</span>
            </div>
        </div>
    </div>
</main>