<div ng-include="'views/partials/header.html'"></div>
<main>
    <br>
    <div class="panel panel-primary">
        <!--      <div class="panel-heading">Apps</div> -->
        <div class="panel-body">
           <toaster-container></toaster-container>
            <table class="display nowrap" cellspacing="0" width="100%" datatable="ng" dt-options="ap.dtOptions" dt-column-defs="ap.dtColumnDefs">
                <thead>
                    <tr>
                        <th>AppName</th>
                        <th>PackageName</th>
                        <th>HashKey</th>
                        <th>SecretKey</th>
                        <th>Eliminar</th>
                        <th>Editar</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="app in ap.apps">
                        <td>{{ app.name }}</td>
                        <td>{{ app.packageName }}</td>
                        <td>{{ app.hashKey }}</td>
                        <td>
                            <input type="text" value="{{ app.appSecret }}" readonly="true" size="10">
                        </td>
                        <td>
                           <a href="" confirmed-click="ap.deleteApp($index, app.id)" ng-confirm-click="¿Desea eliminar la App?" >Eliminar</a>
                            
                        </td>
                        <td>
                           <a href="" ng-click="ap.updateApp(app)" >editar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="profile-text">
                <h1 class="profile-name">Apps Disponibles</h1>
                <span class="profile-title">ChapList API Consumer</span>
            </div>
        </div>
    </div>
</main>