<div ng-include="'views/partials/headerHome.html'"></div>
<main>
    <br>
    <div class="panel panel-default">
        <div class="panel-body" align="center" valign="center">
            <div id="login">
                <h1>Crea App</h1>
                <form>
                    <input type="text" placeholder="PackageName" />
                    <input type="text" placeholder="Hashkey" />
                    <input type="text" placeholder="AppName" />
                    <input type="submit" value="Crear" />
                </form>
            </div>
            <br>
            <div class="profile-text">
                <h1 class="profile-name">Crear App</h1>
                <span class="profile-title">ChapList API Consumer</span>
            </div>
        </div>
    </div>
</main>