<div ng-include="'views/partials/headerHome.html'"></div>
<main>
    <br>
    <div class="panel panel-default">
        <div class="panel-body">
            <img src=https://yt3.ggpht.com/-SnGuBQR3Dt0/AAAAAAAAAAI/AAAAAAAAAAA/0Rk1XvDEjUM/s88-c-k-no/photo.jpg class="profile-img">
            <div class="profile-text">
                <h1 class="profile-name">Tamy Vivas</h1>
                <span class="profile-title">ChapList API Consumer</span>
            </div>
        </div>
    </div>
</main>