<main>
    <br>
    <div class="panel panel-default">
        <div class="panel-body">

            <div id="login">
                <div id="triangle"></div>
                <h1>Log in</h1>
                <form>
                    <a class='btn gp naked' ng-click="googleLogin()">
                            login
                        <span>
                            with google+
                        </span>
                    </a>
                </form>
            </div>
        </div>
    </div>
</main>