<!-- views/partials/head.html -->

<!--meta-->
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="en" />
<meta name="description" content="actionhero.js" />

<!--css-->
<link rel="stylesheet" href="/public/css/actionhero.css" type="text/css">
<link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/public/css/bootstrap-theme.min.css" type="text/css">
<link rel="stylesheet" href="/public/css/headerBar.css" type="text/css">
<link rel="stylesheet" href="/public/css/login.css" type="text/css">
<link rel="stylesheet" href="/public/css/profile.css" type="text/css">
<link rel="stylesheet" href="/public/css/acerca.css" type="text/css">
<link rel="icon" href="/public/favicon.ico" type="text/css">
<!--datatables-->
<link rel="stylesheet" href="/public/css/datatables.bootstrap.min.css" type="text/css">

<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
<meta http-equiv="X-UA-Compatible" content="chrome=1">

<!--javascript-->


<!--angular-->

<!--titulo-->
<title>Chaplist</title>
