<!-- views/partials/header.html -->
<br>
<header>
    <nav>
      <div ng-if="headerLogin">
            <a href="#/index"><span> Login </span></a>
        </div>
       <div ng-if="headerHome">
            <a href="#/home"><span> Home </span></a>
        </div>
        <div ng-if="headerHome">
            <a href="#/apps"><span> Apps </span></a>
        </div>
        <div ng-if="headerHome">
            <a href="#/formApp"><span> Crear App </span></a>
        </div>
        <div>
            <a href="http://oktacore.com"><span> Acerca </span></a>
        </div>
        <div>
            <a href="/upload.html"><span> Cargar Ofertas </span></a>
        </div>
    </nav>
</header>
