<!-- views/partials/head.html -->

<!--meta-->
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="en" />
<meta name="description" content="actionhero.js" />

<!--css-->
<link rel="stylesheet" href="/public/css/actionhero.css" type="text/css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/headerBar.css">
<link rel="stylesheet" href="css/login.css">
<link rel="icon" href="/public/favicon.ico">

<!--javascript-->
<script src="/public/javascript/actionheroClient.js"></script>
<script src="/public/javascript/login.js"></script>

<!--angular-->
<script type="text/javascript" src="js/angular-local-storage.min.js"></script>

<!--titulo-->
<title>Chaplist</title>

<!--headerbar-->
